*.unityweb filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
*.wasm application/wasm
*.data application/octet-stream
*.unityweb application/octet-stream
*.js text/javascript
