body { padding: 0; margin: 0 ;  overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */}
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background-image: url('Background_Image.png');background-size: 100vw 100vh;background-repeat: no-repeat; }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; bottom:0vh; transform: translate(-50%, -50%); display: none } 
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 100vw; height: 0.5vh;left: 0; background-color: whitesmoke; }
#unity-progress-bar-full { width: 0%; height: 0.50vh; background-color: rgb(214, 2, 2); }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-mobile-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
.universiti-label
{
    color: whitesmoke;
    position: absolute;
    bottom: 5vh;
    left: 80vh;
    font-size: 7.5vh;
    font-family: 'Jura';
    font-style: bold;
}
.loading-label
{
    color: whitesmoke;
    position: absolute;
    font-family: 'Jura';
    bottom: 2vh;
    left: 90vh;
    font-size: 3vh;
    
}
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
